:root {
   --accent-color: #38761d;
   --title-color: #666666
}

body {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.header {}

.container {
max-width: 1000px;
padding: 20px;
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;

}
.logo-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}

.logo-item {
    display: inline-block;
}

.logo-item:not(:last-child) {
    margin-right: 20px;
}

.title-block {
    text-align: center;
}

.pretitle {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--accent-color);
}

.title {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--title-color)
}

.aftertitle {
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--accent-color);
}

.section-title {
color: var(--accent-color);
}

.subtitle {}

.bold-title {}

.organizers-list {}

.organizers-item {}

.sponsors-list {}

.sponsors-item {}